# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\Users\morte\Documents\Dokumentation\1. Semester (Software Udvikling)\3. System Integration (SI)\Assignments\Week 37 - Lektion 2\Git\Assigment2-1_Week37_RPC\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
